/oes/.classpath
/oes/.project
/oes/target
/oes/.settings
/LoginRegisterMaterial/.gradle
/LoginRegisterMaterial/local.properties
/LoginRegisterMaterial/.idea/workspace.xml
/LoginRegisterMaterial/.idea/libraries
/LoginRegisterMaterial/build
/LoginRegisterMaterial/captures